<div id="abilities">
							<div class="relative hoverable" id="auto">
								<img src="img/abilities/auto.png">
								<p class="abso">1</p>
								<div class="amount">
									<p><span class="hoverable">Generates primary resource.</span></p>
								</div>	
							</div>

							<div class="rogueA relative hoverable" id="sins">
								<img src="img/abilities/sins.png" >
								<p class="abso">2</p>
								<div class="amount">
									<p><span class="hoverable">Cost: 35 Energy.</span></p>
								</div>
							</div>

							<div class="mageA relative hoverable" id="fireball">
								<img src="img/abilities/fireball.png" >
								<p class="abso">2</p>
								<div class="amount">
									<p><span class="hoverable">Cost: 20% Mana. Dmg: 2 * SP.</span></p>
								</div>
							</div>
								
							<div class="warriorA relative hoverable" id="hs">
								<img src="img/abilities/heroic.png">
								<p class="abso">2</p>
								<div class="amount">
									<p><span class="hoverable">Cost: 15 Rage. Dmg: 1.2 * AP.</span></p>
								</div>
							</div>
								
							<div class="rogueA relative hoverable"  id="evis">
								<img src="img/abilities/evis.png">
								<p class="abso">3</p>
							</div>

							<div class="mageA relative hoverable"  id="frostbolt">
								<img src="img/abilities/frostbolt.png">
								<p class="abso">3</p>
							</div>
								
							<div class="warriorA relative hoverable" id="ms">
								<img src="img/abilities/mortal.png">
								<p class="abso">3</p>
								<div class="amount">
									<p><span class="hoverable">Cost: 20 Rage.<br> Dmg: 3.5 * AP.<br>CD: 3.</span></p>
								</div>
							</div>
								
							<div class="relative hoverable" id="auto">
								<img src="img/creatures/dev.png">
								<p class="abso">4</p>
							</div>
								
							<div class="relative hoverable" id="auto">
								<img src="img/creatures/dev.png">
								<p class="abso">5</p>
							</div>
								
							<div class="relative hoverable" id="#">
								<img src="img/creatures/dev.png">
								<p class="abso">6</p>
							</div>

							<div class="relative hoverable" id="run">
								<img src="img/abilities/flee.png" id="flee">
								<p class="abso">7</p>
							</div>
								
							<div class="relative hoverable" id="hPotUse">
								<img src="img/misc/55_potion_potion.png">
								<p class="abso">8</p>
								<div class="amount">
									<p><span class="hoverable">Recover 40% of your hp.</span><span id="hPot"></span></p>
								</div>	
							</div>
								
							<div class="relative hoverable" id="mPotUse">
								<img src="img/misc/76_potion_potion.png">
								<p class="abso">9</p>
								<div class="amount">
									<p><span class="hoverable">Recover 40% of your mana.</span><span id="mPot"></span></p>
								</div>
							</div>
								
							<div class="relative hoverable" id="foodUse">
								<img src="img/misc/Food_16.png">
								<p class="abso">=</p>
								<div class="amount">
									<p><span class="hoverable">Recover 70% of your hp.</span><span id="food"></span></p>
								</div>
							</div>
								
							<div class="relative hoverable" id="waterUse">
								<img src="img/misc/07_4.png">
								<p class="abso">+</p>
								<div class="amount">
									<p><span class="hoverable">Recover 70% of your mana.</span><span id="water"></span></p>
								</div>
							</div>		
						</div>