<p style="position: absolute; top: 100px; left: 30px;">
				<a href="https://www.barrens.chat"><img src="img/bc.png"></a>
			</p>

			<div class="local">
				<button id="reset" style="position: absolute; top: 20px; right: 10px;"> reset</button>
				<a href="changelog"><button id="reset" style="position: absolute; top: 20px; left: 10px;">Changelog</button></a>
			</div>