<div id="log" class="box">
						<h2 id="map"></h2>
					<div class="console">
						<p><span>Welcome to TextCraft.</span></p>
					</div>
					<div class="console_buttons">
						<input id="chatBox" type="text" placeholder="Message:">
						<button id="fight">Explore</button>
						<div class="console_buttons--actions">
							<div class="border exp"><p class="index">Exp: <span id="exp"></span> / <span id="expMax"></span></p><div id="expBar">
							</div>
							</div>
						</div>
						<%- include('abilities') %>
					</div>
				</div>