<div style="align-self: flex-start;" class="resource box">
						<div id="creature" >
							<div class="creatureProfile">
								<div>
									<h3>Level <span id="creatureLevel"></span></h3>
								
									<p><span id="creatureName"></span></p>
								</div>
								<div>
									<img id="creatureImg" src="img/creatures/murloc.png">
								</div>
							</div>
							<div class="border creatureHp"><p class="index">HP: <span id="creatureHp"></span> / <span id="creatureHpMax"></span></p><div id="creatureHpBar"></div></div>
							<p>Attack: <span id="creatureAtk"></span>&nbsp-&nbsp<span id="creatureAtkMax"></span></p>
							<div class="border creatureSpecial"><p class="index"><span id="specialAttack"></span> <span id="specialRound"></span> / <span id="specialRoundMax"></span></p><div id="specialRoundBar"></div></div>
						</div>
					</div>