<div id="equipment" class="box">
	<h3>Equipment</h3>
	<div class="stats">
		<div class="equipSlot">
			<p>Helm: </p>
			<p>Armor: </p>
			<p>Weapon: </p>
		</div>
		<div class="equipped">
			<p id="helm"></p>
			<p id="chest"></p>
			<p id="weapon"></p>
		</div>
	</div>
</div>