<div style="margin-bottom: 0;" class="invQ">
				<div id="levelSel">
					<button>Searing Gorge</button>
					<button>Stratholme (D)</button>
					<button>Un'goro Crater</button>
					<button>Burning Steppes</button>
					<button>Western Plaguelands</button>
					<button>Blackrock Spire (D)</button>
					<button>Eastern Plaguelands</button>
					<button>Silithus</button>
					<button>Molten Core (R)</button>
					<button>Blackwing Lair (R)</button>
				</div>
			</div>