<div class="box" id="leaderboard">
	<h2 style="font-size: 2.2em; padding-bottom: 15px; letter-spacing: 5px;">Leaderboard</h2>
	<p>1. <span id="first">Defuzed</span> <span id="firstLvl">59</span> <span id="firstClass">Hunter</span></p>
	<p>2. <span id="second">Ariande</span> <span id="secondLvl">53</span> <span id="secondClass">Rogue</span></p>
	<p>3. <span id="third">Vildpus</span> <span id="thirdLvl">41</span> <span id="thirdClass">Mage</span></p>
	<p>4. <span id="four">Bobby</span> <span id="fourLvl">32</span> <span id="fourClass">Warrior</span></p>
	<p>5. <span id="five">Nixx</span> <span id="fiveLvl">17</span> <span id="fiveClass">Rogue</span></p>
</div>