<div class="invQ">
				<div id="levelSel">
					<button>Elwynn Forest</button>
					<button>Westfall</button>
					<button>Duskwood</button>
					<button>Deadmines (D)</button>
					<button>Wetlands</button>
					<button>Hillsbrad foothills</button>
					<button>Thousand Needles</button>
					<button>Maraudon (D)</button>
					<button>Stranglethorn Vale</button>
					<button>Tanaris</button>
				</div>
			</div>