<div class="box">
	<h3>Shop</h3>			
	<div class="stats">
		<div>
		<p class="hoverable"><span class="hoverable">Recover 40% of your hp.</span>Health Potion: <span id="hPotBuySel"></span><img style="margin: 0 0 -5px 0px;" src="img/misc/gold.png"></p>
		<p class="hoverable"><span class="hoverable">Recover 40% of your hp.</span>Mana Potion: <span id="mPotBuySel"></span><img style="margin: 0 0 -5px 0px;" src="img/misc/gold.png"></p>
		<p class="hoverable"><span class="hoverable">Recover 70% of your hp.</span>Food: <span id="foodBuySel"></span><img style="margin: 0 0 -5px 0px;" src="img/misc/gold.png"></p>
		<p class="hoverable"><span class="hoverable">Recover 70% of your hp.</span>Water: <span id="waterBuySel"></span><img style="margin: 0 0 -5px 0px;" src="img/misc/gold.png"></p>
	</div>
		<div class="plus">
			<button id="hPotBuy">Buy</button>
			<button id="mPotBuy">Buy</button>
			<button id="foodBuy">Buy</button>
			<button id="waterBuy">Buy</button>
		</div>
	</div>
</div>