<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="style.css?v0.1.1">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<title>TextCraft Changelog</title>
</head>

<body style="background-image: url(img/ragefire.jpg); background-repeat: repeat;">
	<div style="max-width: 1000px; margin: 0 auto;" id="wrapper">
       <%- include('partials/may_9th') %>
		<p style="position: absolute; top: 100px; left: 30px;">
			<a href="https://www.barrens.chat"><img src="/img/bc.png"></a>
		</p>
		<div class="local">
            <a href="/"><button style="position: absolute; top: 20px; left: 10px;">TextCraft</button></a>
		</div>
	</div>
</body>
</html>