<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="style.css?v0.1.1">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<style>
		body{
			color: white;
		}
	</style>
	<title>test</title>
</head>

<body>
	<h1>Title</h1>
	<script>
		let data = `[
			{
				"class": "Warrior"
			},
			{
				"class": "Mage"
			}
		]`

		postData('http://localhost:3000/test', {answer: 42})
		.then(data => console.log(JSON.stringify(data))) // JSON-string from `response.json()` call
		.catch(error => console.error(error));

		function postData(url = '', data = {}) {
		// Default options are marked with *
			return fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data), // body data type must match "Content-Type" header
			})
			.then(response => response.json()); // parses JSON response into native Javascript objects 
		}
	</script>

</html>