<div class="classes">
					<div class="entry classBox">
						<div class="flex">
							<h3>
								Shaman
							</h3>
							<img class="classImg" src="img/classes/shaman.png">
						</div>
						<hr>
						<div>
							<p class="hoverable"><span class="hoverable">Increases your ap & hp.</span>Strength: <span>2</span></p>
							<p class="hoverable"><span class="hoverable">Increases your ap.</span>Agility: <span>3</span></p>
							<p class="hoverable"><span class="hoverable">Increases your sp & mana.</span>Intellect: <span>2</span></p>
							<p class="hoverable"><span class="hoverable">Increases your hp & hp regen.</span>Stamina: <span>3</span></p>
							<button class="classbtn" id="shaman">Under Development</button>
						</div>
					</div>