<div class="entry classBox">
					<div class="flex">
						<h3>
							Warrior
						</h3>
						<img class="classImg" src="img/classes/warrior.png">
					</div>
					<hr>
					<div>
						<p class="hoverable"><span class="hoverable">Increases your ap & hp.</span>Strength: <span>3</span></p>
						<p class="hoverable"><span class="hoverable">Increases your ap.</span>Agility: <span>1</span></p>
						<p class="hoverable"><span class="hoverable">Increases your sp & mana.</span>Intellect: <span>0</span></p>
						<p class="hoverable"><span class="hoverable">Increases your hp & hp regen.</span>Stamina: <span>3</span></p>
						<button class="classbtn" id="warrior">Pick Class</button>
					</div>
				</div>